@model LanguageSchool.Query.DTO.CourseDetailsDTO
@{
    ViewData["Title"] = "Index";
}

<h2>Spotkania dla kursu @Model.Name</h2>
<div>
    <table class="table">
        <thead class="tab-pane">
            <tr>
                <th>Data</th>
                <th></th>

                <th></th>
                <th>
                    <a class="btn btn-outline-success float-right" asp-action="Add" asp-route-courseId="@Model.Id">Dodaj nowy</a>
                </th>

            </tr>
        </thead>
        <tbody class="tab-content">
            @foreach (var item in Model.Trainings)
            {
                <tr>
                    <td>
                        @item.Date
                    </td>
                    <td>
                        <div class="d-inline-flex float-right">
                            <a class="text-warning btn btn-link" asp-action="Index"
                               asp-controller="Bookings" asp-route-courseId="@Model.Id" asp-route-trainingId="@item.Id"><i class="fas fa-pen-square">Rezerwuj</i></a>
                        </div>
                    </td>

                    <th></th>
                    <th></th>

                </tr>
            }
        </tbody>
    </table>
</div>
